.about
{
    color:rgb(255,255,255);
    background: rgba(46, 46, 46, 0.95);
    text-align: center;
    position: center;
}
.header
{
    font-size: 35px;
    text-align: center;
    position: center;
}
.info
{
    font-size: 20px;
    text-align: center;
    position: center;
}