.table {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-family: arial, sans-serif;
  border-collapse: collapse;  
  padding: 10px;
}

.table td, th {
  border: 1px solid #dddddd;
  text-align: left;
  width:20%;
}

.table tr:nth-child(even) {
  background-color: #dddddd;
  text-align: left;
}
.buttonEdit {
  background-color: #4CAF50; /* Green */
  border: true;
  color: white;
  padding: 5px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.buttonRemove {
  background-color: rgb(175, 14, 14); /* Green */
  border: true;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}