.home
{  
  background: rgba(46, 46, 46, 0.95);
 /* background-size: cover;
  //min-height: max-content;
  position: fixed;
  top: 75px;
  bottom: 0;*/
  width: 100%;
}
.btn
{
  font-size: 15px;
}
.text-center
{
 position: center;
  
}
.filtrbyname
{
  font-size: 20px;
}
.filtrbyposition
{
  font-size: 20px;
}
.subject
{
  text-align: center;
  position: center;
  background: rgba(46, 46, 46, 1);
 // opacity: .90;
}
.header
{
  font-size: 50px;
  text-align: center;
  position: center;
 // background: rgba(46, 46, 46, 1);
  //weight: 40%; 
 // opacity: .95;
  color: rgb(255,255,255);
}
.filres{
  font-size: 25px;
  text-align: center;
  position: center;
  //background: rgba(46, 46, 46, 1);
  //weight: 40%; 
  //opacity: .95;
  color: rgb(255,255,255);
}

.home
{
  /*text-align: center;
  padding: 20px;
  font-size: 20px;
  display:inline-block;
  color: rgb(255,255,255);
  background: rgba(46, 46, 46, 1);
  opacity: .98;*/
}
table {
  padding-right: 100px;
  //opacity: .98;
  font-size: 20px;
  font-family: Helvetica;

}
.pagination
{
  text-align: center;
  position: center;
  font-size:30px;
 // opacity: .80;
 // filter: alpha(opacity=50);
}

.pagination:hover
{
  opacity: 1;
  filter: alpha(opacity=90);
}
