<label class="header" for="formGroupExampleInput">List of employees</label><br>
<label class="filres" for="formGroupExampleInput">Filtres
    <button type="button" class="btn btn-outline-primary" (click)="employeeService.filtrbyName()"
        tooltip="Filtr by FirstName">FirstName</button>
    <button type="button" class="btn btn-outline-primary" (click)="employeeService.filtrbyPosition()"
        tooltip="Filtr by Position">Positon</button></label>
<div style="text-align:center;">
    <div class="table-responsive sm">
        <table class="table table-hover table-striped table-bordered table-dark w-auto">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Position</th>
                    <th>Room</th>
                    <th>Salary</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let employees of employeeService.getEmployee() | paginate: { itemsPerPage: 5, currentPage: p}">

                    <ng-container *ngIf="employees.firstName != null ">
                        <th>{{employees.id}}</th>
                        <th>{{employees.firstName}}</th>
                        <th>{{employees.lastName}}</th>
                        <th>{{employees.position}}</th>
                        <th>{{employees.room}}</th>
                        <th>{{employees.salary}}</th>
                        <td>
                            <!--<a routerLink="/edit/{{employees.id}}"-->
                            <a [routerLink]="['/edit', employees.id]">
                                <button class="btn btn-success pull-right">
                                    Edit
                                </button>
                            </a>
                        </td>
                        <th>
                            <button class="buttonRemove" (click)="removeEmployee(employees.id)">x</button>
                        </th>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<label class="text-center">
    <ul class="pagination">
        <pagination-controls (pageChange)=" p = $event"></pagination-controls>
    </ul>
</label>