<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink ="/" style="font-family: Palatino">Employee Manager</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-4 mt-lg-2">
        <li class="nav-item">
          <a class="nav-link" routerLink ="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/addRoom">Rooms<span class="sr-only">/addRoom</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/positions" >Positions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/search">Search</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add">Add Employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  routerLink="/about">About</a>
          </li>
      </ul>
      <!--<form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>-->
    </div>
  </nav>