<br>
<div class="position-add" style="width: 70%;">
    <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Room</ng-template>
        <mat-form-field>
            <input matInput placeholder="Profession" formControlName="firstCtrl" [(ngModel)]="name"
                style="color: white; text-align: center;" required>
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="Min Wage" max="maxWage" formControlName="secondCtrl" [(ngModel)]="minWage"
                style="color: white; text-align: center;" required>
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="Max Wage" formControlName="thirdCtrl" [(ngModel)]="maxWage"
                style="color: white; text-align: center;" required>
        </mat-form-field>
    </form><br>
    <div
        *ngIf="name != null && minWage >= 2000 && 10000 >= minWage && 10000 >=maxWage && maxWage>2000 && maxWage>=minWage; else elseBlock">
        <button class="btn btn-primary w-50" (click)="addPositions()">Submit</button><br>
    </div>
    <ng-template #elseBlock>
        <button class="btn btn-primary w-50" disabled>Submit</button><br>
    </ng-template>
    <br>
    <hr>
    <br>
    <table class="table table-hover table-striped table-bordered table-dark w-auto">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Min Wage</th>
                <th>Max Wage</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let position of positionsService.getPosition() | paginate: { itemsPerPage: 5, currentPage: p}">
                <ng-container *ngIf="position.name != null ">
                    <th>{{position.id}}</th>
                    <th>{{position.name}}</th>
                    <th>{{position.minWage}}</th>
                    <th>{{position.maxWage}}</th>
                    <!-- <td>
                <a routerLink="/add"><button type="button" class="buttonEdit" tooltip="Edit employer's info">
                        Edit
                    </button>
                </a>
            </td>
            <td>
                <button class="buttonRemove" (click)="removeEmployee(employee.id)">x</button>
            </td>
      -->
                </ng-container>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="text-center">
        <pagination-controls (pageChange)=" p = $event"></pagination-controls>
    </div>
</div>