<br>
<div class="position-add w-40">
    <form class="was-validated">

        <div>
            Name<br>
            <input type="search" class="form-control" [(ngModel)]="name" value={{name}}
                [ngModelOptions]="{standalone: true}" placeholder="Programmer" required />
            <div class="invalid-feedback">
                Not empty
            </div>
        </div>
        <br>
        <div>
            Min Wage<br>
            <input type="number" class="form-control" [(ngModel)]="minWage" value={{minWage}}
                [ngModelOptions]="{standalone: true}" placeholder="1000" min="1000" required />
            <div class="invalid-feedback">
                Choose max wage larger than min wage and less than 10000
            </div>
        </div>
        <br>
        <div>
        Max Wage<br>
        <input type="number" class="form-control" [(ngModel)]="maxWage" value={{maxWage}}
            [ngModelOptions]="{standalone: true}" placeholder="10000" max="10000" min={{minWage}} required />
        <div class="invalid-feedback">
            Choose max wage larger than min wage and less than 10000
        </div>
    </div>
        <br>

        <a *ngIf="name != null && minWage >= 1000  && 10000 >=maxWage && maxWage>=minWage">

            <button class="btn btn-primary" (click)="addPositions()">Submit</button>
        </a>
    </form>
    <br>
    <table class="table table-hover table-striped table-bordered table-dark w-auto">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Min Wage</th>
                <th>Max Wage</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let position of positionsService.getPosition() | paginate: { itemsPerPage: 5, currentPage: p}">
                <ng-container *ngIf="position.name != null ">
                    <th>{{position.id}}</th>
                    <th>{{position.name}}</th>
                    <th>{{position.minWage}}</th>
                    <th>{{position.maxWage}}</th>
                    <!-- <td>
                <a routerLink="/add"><button type="button" class="buttonEdit" tooltip="Edit employer's info">
                        Edit
                    </button>
                </a>
            </td>
            <td>
                <button class="buttonRemove" (click)="removeEmployee(employee.id)">x</button>
            </td>
      -->
                </ng-container>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="text-center">
        <pagination-controls (pageChange)=" p = $event"></pagination-controls>
    </div>
</div>