.position-add
{
  text-align: center;
  padding: 20px;
  font-size: 20px;
  display:inline-block;
  color: rgb(255,255,255);
  background: rgba(46, 46, 46, 1);
  opacity: .90;
}

table {
  text-align: center;
}

.label{
  color: rgb(255,255,255);
}