<div style="background: rgba(46, 46, 46,0)">
  <mat-horizontal-stepper [linear]="isLinear" #stepper style="background: rgba(46, 46, 46,0.9)">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Room</ng-template>
        <mat-form-field>
          <input matInput placeholder="Number" formControlName="firstCtrl" style="color: white;" required>
        </mat-form-field><br>
        <mat-form-field>
          <input matInput placeholder="Name"  formControlName="secondCtrl" style="color: white;" required>
        </mat-form-field><br>
        <mat-form-field>
          <input matInput placeholder="Capacity"  formControlName="thirdCtrl" style="color: white;" required>
        </mat-form-field>
        <br><br><br>
        <label style="color:rgba(187, 186, 186, 1); font-size: 25px; ">Size of the room</label>
        <hr>
        <mat-form-field>
          <input matInput placeholder="Width" formControlName="fifthCtrl" style="color: white; text-align: right;" required>
          <span matSuffix style="color:white;font-size: 20px;">&nbsp;m</span>
        </mat-form-field>&nbsp;&nbsp;
        <mat-form-field>
          <input matInput placeholder="Length" formControlName="sixthCtrl" style="color: white; text-align: right;" required>
          <span matSuffix style="color:white;font-size: 20px;">&nbsp;m</span>
        </mat-form-field><br><br>
        <div>
          <button class="btn btn-primary" matStepperNext style="padding-right: 20px; padding-left: 20px; font-size: 20px;">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Positions of desks</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>