<br>
<div class="form" style="width: 70%;">
  <form [formGroup]="firstFormGroup">
    <mat-form-field>
      <input matInput placeholder="First Name" formControlName="nameCtrl" [(ngModel)]="firstName" style="color: white;"
        required>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="Last Name" formControlName="lastNameCtrl" [(ngModel)]="lastName"
        style="color: white;" required>
      <!--<mat-error *ngIf="firstFormGroup.hasError('required')">No Empty</mat-error>-->
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Positions *</mat-label>
      <mat-select formControlName="positionsCtrl" [(ngModel)]="position">
        <mat-option *ngFor="let position of positions" [value]="position" (click)="setSalary()">
          {{position.name}}
        </mat-option>
      </mat-select>
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Salary *</mat-label>
      <mat-select formControlName="salaryCtrl" [(ngModel)]="salary">
        <mat-option *ngFor="let salary  of salaryArray" [value]="salary">
          {{salary}}
        </mat-option>
      </mat-select>
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Room *</mat-label>
      <mat-select formControlName="roomCtrl" [(ngModel)]="room">
        <mat-option *ngFor="let room of rooms" [value]="room" [disabled]="room.people >= room.capacity">
          {{room.name}}&nbsp;&nbsp; p.{{room.number}}
          [{{room.people}}/{{room.capacity}}]
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form><br>
  <a routerLink="/">
    <div *ngIf="(firstName!=null && lastName!=null && position != null && salary!= null && room!=null); else elseBlock">
      <button class="btn btn-primary w-50" (click)="addEmployee()">Submit</button>
    </div>
    <ng-template #elseBlock>
      <button class="btn btn-primary w-50" disabled>Submit</button>
    </ng-template>
  </a>
</div>