<br>
<div class="form" style="width: 70%;">
  <form [formGroup]="firstFormGroup">
    <mat-form-field>
      <input matInput placeholder="First Name" formControlName="nameCtrl" [(ngModel)]="editEmployee.firstName"
        style="color: white;" required>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="Last Name" formControlName="lastNameCtrl" [(ngModel)]="editEmployee.lastName"
        style="color: white;" required>
      <!--<mat-error *ngIf="firstFormGroup.hasError('required')">No Empty</mat-error>-->
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Positions *</mat-label>
      <mat-select formControlName="positionsCtrl" [(ngModel)]="editEmployee.position">
        <mat-option *ngFor="let pos of positions" [value]="pos.name" (click)="setSalary()">
          {{pos.name}}
        </mat-option>
      </mat-select>
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Salary *</mat-label>
      <mat-select formControlName="salaryCtrl" [(ngModel)]="editEmployee.salary">
        <mat-option *ngFor="let sal  of salaryArray" [value]="sal">
          {{sal}}
        </mat-option>
      </mat-select>
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Room *</mat-label>
      <mat-select formControlName="roomCtrl" [(ngModel)]="editEmployee.room">
        <mat-option *ngFor="let r of rooms" [value]="r.id" [disabled]="r.people >= r.capacity">
          {{r.name}}&nbsp;&nbsp; p.{{r.number}}
          [{{r.people}}/{{r.capacity}}]
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form><br>
  <a routerLink="/">
    <div
      *ngIf="(editEmployee.firstName! && editEmployee.lastName! && editEmployee.position! && editEmployee.salary! && editEmployee.room!); else elseBlock">
      <button class="btn btn-primary w-50" (click)="EditEmployee();openSnackBar()">Submit</button>
    </div>
    <ng-template #elseBlock>
      <button class="btn btn-primary w-50" disabled>Submit</button>
    </ng-template>
  </a>
</div>

<!--    <button routerLink="/" class="btn btn-primary w-50" (click)="EditEmployee();openSnackBar()">Submit</button>
      </div>
    <ng-template #elseBlock>
        <button class="btn btn-primary w-50" disabled (click)="EditEmployee()">Submit</button>
    </ng-template>
  </div>
</form>
-->