.form {
  text-align: center;
  padding: 50px;
  display: inline-block;
  font-size: 20px;
  position: center;
  color: rgb(255, 255, 255);
  background: rgba(46, 46, 46, 0.95);
}

.span {
  text-align: right;
  position: right;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: white;
  text-align: center;
  //font-size: 28px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: .4375em 0;
  font-size: 25px;
}

::ng-deep .mat-select-value {
  color: white;
}

::ng-deep .mat-select-arrow {
  color: white;
}

::ng-deep .mat-form-field-infix {
  width: 400px !important;
}


::ng-deep .mat-simple-snackbar
{
  font-size: 25px;
}


::ng-deep .mat-button-wrapper{
  font-size: 25px;
}