.App {
    text-align: center;
  }
  .todo-wrapper {
    background: url(../../img/developer.jpg);
   // background: rgba(46, 46, 46, 1);
    background-size: cover;
    //min-height: max-content;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
   // background: #343a40;
//background-color:rgba(46, 46, 46, 1);
  }
