.App {
    text-align: center;
  }
  .todo-wrapper {
    background: url(../../img/developer.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0px;
    left: 0px;
    bottom: 0;
  }
