.search
{
  background: rgb(196, 221, 218);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
}
.table {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;  
    padding: 10px;
  }
  
  .table td, th {
    border: 1px solid #000000;
    text-align: center;
    width:20%;
  }
  
  .table tr:nth-child(even) {
    background-color: #dddddd;
    text-align: center;
  }
  .buttonEdit {
    background-color: #4CAF50;
    border: true;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .buttonRemove {
    background-color: rgb(175, 14, 14); 
    border: true;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .text-center
  {
    background-color: #ffffff;
  }