<div style="width: 80% ; font-size: 20px;display: inline-block;">
    <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper"
        style="background: rgba(46, 46, 46,0.9)">
        <mat-step [stepControl]="firstFormGroup">
            <div class="form">
                <form [formGroup]="firstFormGroup">
                    <mat-form-field>
                        <input matInput placeholder="First Name" formControlName="nameCtrl" [(ngModel)]="firstName"
                            style="color: white;" required>
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>Positions *</mat-label>
                        <mat-select formControlName="positionsCtrl" [(ngModel)]="position">
                            <mat-option *ngFor="let pos of positions" [value]="pos.name">
                                {{pos.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field><br>
                    <mat-form-field>
                        <input matInput placeholder="Min Wage" formControlName="salaryDownCtrl"
                            (click)="SetValidatorofSalary()" [(ngModel)]="salaryDown" style="color: white;" required>
                    </mat-form-field><br>
                    <mat-form-field>
                        <input matInput placeholder="Max Wage" formControlName="salaryUpCtrl"
                            (click)="SetValidatorofSalary()" [(ngModel)]="salaryUp" style="color: white;" required>
                    </mat-form-field><br>
                </form>
                <div>
                    <button class="btn btn-primary w-50" (click)="SetValidatorofSalary();SearchEmployee()"
                        matStepperNext>Search</button>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <div *ngIf="isFound==false; else elseBlock">
                <br><label style="font-size: 25px;">This employee does not exist in the company</label><br>
            </div>
            <ng-template #elseBlock>
                <div class="table-responsive"><br><br>
                    <table class="table table-hover table-striped table-bordered table-dark w-auto">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Position</th>
                                <th>Room</th>
                                <th>Salary</th>
                                <th>Edit</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let employees of searchedEmployee | paginate: { itemsPerPage: 5, currentPage: p}">
                                <th>{{employees.id}}</th>
                                <th>{{employees.firstName}}</th>
                                <th>{{employees.lastName}}</th>
                                <th>{{employees.position}}</th>
                                <th> {{getRoombyId(employees.room)}} </th>
                                <th>{{employees.salary}}</th>
                                <td>
                                    <a [routerLink]="['/edit', employees.id]">
                                        <button class="btn btn-success ">
                                            Edit
                                        </button>
                                    </a>
                                </td>
                                <th>
                                    <button class="btn btn-danger"
                                        (click)="removeEmployee(employees.id,employees.room)">x</button>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <pagination-controls (pageChange)=" p = $event"></pagination-controls>
                </div>
            </ng-template>
            <div><br>
                <button class="btn btn-danger" style="padding-right: 20px; padding-left: 20px; font-size: 20px;"
                    matStepperPrevious>Back</button>&nbsp;&nbsp;
                <a routerLink="/"><button class="btn btn-success"
                        style="padding-right: 20px; padding-left: 20px; font-size: 20px;">Quit</button></a>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>